/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Header {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #7f53ac),
    to(#657ced)
  );
  background-image: -o-linear-gradient(left, #7f53ac 0, #657ced 100%);
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  border: none;
  color: white;
  font-family: Geneva, Verdana;
  position: fixed;
  top: 0px;
  width: 100%;
}

.title {
  font-size: 20px;
  padding: 10px;
}

.sub-title {
  font-size: 12px;
}

.side-menu-icon {
  float: right;
  max-height: 30px;
  max-width: 35px;
  padding: 15px;
}

.btn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100px;
  margin: 2px;
  text-decoration: none;
}

.btn-primary {
  @extend .btn;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-regular {
  @extend .btn;
  background-color: white;
  border-color: darkgrey;
}

.error-text {
  @extend .sub-title;
  color: Red;
  text-align: center;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}
