/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.block {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  float: left;
  margin: 15px;
  width: 230px;
}

.content {
  padding: 10px;
}

.empty-list {
  display: block;
  max-width: 400px;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
