/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 250px;
  margin: 8px;
  padding: 10px;
}

.outer-div {
  margin: 50px;
  text-align: center;
}
